* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-image: url(../Assets/bg.png);
  margin: 0 auto;
}

.header {
  display: flex;
  max-width: 100%;
  height: 70px;
  padding-top: 10px;
  background: #ffffff;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.tittle,
.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.p1{
  text-align: center;
  margin: 10px;
}

.daftar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin-bottom: 100px;
}
form input {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 1rem;
  padding: 0 14px;
}

.sandi {
  color: grey;
}

.cekbox {
  display: flex;
  height: 15px;
  width: 100%;
  border: 1px solid;
  margin-left: 2px;
  margin-bottom: -7px;
  translate: -100px -16px;
}
.cb {
  font-size: 14px;
  translate: 0px -500px;
}
form .button {
  height: 45px;
  margin: 8px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color:  #7472cc;
}
form .button input:hover {
  background-color: #5c5ba1;
}
.user-detail .input-box .detail {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: end;
}

@media (max-width:480px) {
  /* FORM */
  form{
    max-width: 350px;
  }

  /* CHECKBOX */
  .cekbox {
    translate: -75px -16px;
  }
}
