* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* PAGE CONTAINER */
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVIGATION */
.nav-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: #7472cc;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;
}

nav img {
  height: 20px;
  width: auto;
}

.mobile {
  display: none;
}

.antrean {
  height: 40px;
  translate: 0px 5px;
  margin-left: 20px;
  flex: 0.001;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex: 1;
}

.nav {
  align-items: center;
}

.nav-item a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.1s;
  padding: 18px;
}

.dropbtn {
  color: white;
  background-color: #7472cc;
  padding: 18px;
  font-size: 18px;
  border: none;
  transition: 0.1s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 165px;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #8f8ed6;
}

.nav-item a:hover {
  background-color: #8f8ed6;
}

.bar {
  margin-right: 25px;
}

input {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  height: 35px;
}

.bar input {
  width: 300px;
  margin-right: 20px;
  height: auto;
}

input:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bar img {
  translate: 0px 4px;
}

/* TITLE */
.title {
  padding: 20px;
  padding-bottom: 0px;
  font-size: 30px;
}

/* IMG-DECO */
.img-deco {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: antiquewhite; */
  padding-left: 15%;
  padding-right: 15%;
}

.img-deco img {
  width: 350px;
}

.img-deco img[alt="kontak info"] {
  height: 170px;
}

/* MAIN-CONTAINER */
.main-container {
  /* background-color: wheat; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.reservasi-info,
.kontak-info {
  min-width: 350px;
  height: 325px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.reservasi-info h1,
.kontak-info h1 {
  color: white;
  background-color: #7472cc;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reservasi-info img,
.kontak-info img {
  width: 20px;
  margin-right: 5px;
}

/* RESERVASI-INFO */
.reservasi-info ul {
  list-style: none;
  padding: 28px;
}

.reservasi-info li {
  margin-bottom: 20px;
}

.reservasi-info img {
  translate: 0px 3px;
}

/* KONTAK-INFO */
.collumn {
  padding: 20px;
}

.cell {
  margin: 10px;
  margin-bottom: 20px;
}

.cell p {
  /* margin-left: 27px; */
  color: gray;
  font-weight: 600;
}

.input-info {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.input-info input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(177, 177, 177);
  outline: none;
  width: 250px;
  height: 30px;
}

.underline-animation {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #7472cc;
}

.input-info > input[type="text"]:focus + .underline-animation {
  left: 0;
}

/* Confirm */
.confirm {
  min-width: 300px;
  display: flex;
  margin: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.confirm button {
  background-color: #9f9ed3;
  color: white;
  font-size: 25px;
  width: 210px;
  padding: 10px;
  border: none;
  border-radius: 40px;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}

.confirm button:hover {
  scale: 1.2;
  background-color: #7472cc;
}

/* .confirm img {
    min-width: 100px;
    max-width: 500px;
    translate: 0px -350px;
} */

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 50px;
  /* translate: 0px -300px; */
}

.footer a {
  color: red;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

/* POPUP */
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup p {
  font-size: 18px;
}

.popup-content {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  max-width: 60%;
  height: auto;
  font-weight: bolder;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  justify-self: center;
  text-align: center;
}

.popup-content img {
    width: 50%;
    margin: 10px;
  }

 .popup-content p {
    margin: 20px;
 } 

.popup-content button {
  background-color: #9f9ed3;
  color: white;
  font-size: 25px;
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 40px;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}

.popup-content button:hover {
  scale: 1.2;
  background-color: #7472cc;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: flex;
}

/* Responsive */
@media (max-width: 850px) {
  /* NAVBAR */
  .antrean {
    margin-left: 10px;
    flex: 0.001;
  }

  .navbar {
    justify-content: space-between;
  }

  .bar {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .nav {
    display: none;
  }

  .bar input {
    width: 200px;
    margin-right: 10px;
  }

  .bar img {
    margin-right: 5px;
    translate: 0px 0px;
  }

  .nav-item a {
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 15px;
  }

  .dropbtn {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  /* INFOS */
  .title h1 {
    margin-bottom: 20px;
  }

  .img-deco {
    padding-left: 3%;
    padding-right: 3%;
  }

  .main-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 744px) {
  /* INFOS */
  .main-container {
    flex-direction: column;
  }

  .img-deco {
    display: none;
  }

  .main-container {
    padding-left: 0%;
    padding-right: 0%;
  }

  .reservasi-info {
    margin-bottom: 20px;
  }
}

/* MOBILE */
@media (max-width: 690px) {
  /* NAV */
  .navbar {
    flex-direction: column-reverse;
    height: auto;
  }

  .bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: flex;
    margin-top: 5px;
  }

  .dropbtn {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .nav-item a {
    padding-top: 9px;
    padding-bottom: 9px;
  }

}
