* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background: #d7e3fe;
}

.header {
  display: flex;
  max-width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.download {
  font-weight: 800;
  font-size: 20px;
  line-height: 38px;
  text-align: right;
  color: #817fde;
  text-decoration: none;
  align-self: end;
  margin: 10px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 150px;
  padding-left: 200px;
  padding-right: 200px;
}

form {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 3px 5px 1px 2px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  translate: -70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tittle {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}
form input {
  height: 55px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
}
.cekbox {
  display: flex;
  height: 15px;
  width: 100%;
  border: 1px solid;
  margin-left: 50px;
  float: inline-end;
  translate: -135px -16.8px;
}
.textbox {
  display: flex;
  margin-left: 5px;
}
form input:focus {
  outline: none;
  border-color: #7a18f2;
}
::placeholder {
  color: #777;
  font-size: 1.063rem;
}
.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.link .login {
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  background: #7472cc;
  padding: 15px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}
.link .login:hover {
  background: #5c5ba1;
}
form a {
  text-decoration: none;
}
.link .forgot {
  color: #1877f2;
  font-size: 0.875rem;
}
.link .forgot:hover {
  text-decoration: underline;
}
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}
.button {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.button a {
  padding: 15px 20px;
  background: #9f9ed3;
  border-radius: 6px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  transition: 0.2s ease;
}
.button a:hover {
  background: #7472cc;
}

@media (max-width: 1441px) {
  /* MAIN */
  .main {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  form {
    translate: 0px 0px !important;
    padding: 10px;
  }

  .aside2 {
    display: none;
  }

  /* CHECKBOX */
  .cekbox {
    translate: -145px -16.8px;
  }
}

@media (max-width: 480px) {
  /* DOWNLOAD */
  .download {
    align-self: center;
    text-align: center;
  }

  /* MAIN */
  form {
    min-width: 300px;
  }

  /* CHECKBOX */
  .cekbox {
    translate: -95px -16.8px;
  }
}

